.slds-text-heading_small {
  /* position: absolute; */
  /* font-size: --slds-c-card-heading-font-size(19px); */
}
.card-wrapper .sub-title-tx {
  /* position: absolute;
  z-index: 10;
  top: 5px;
  left: 51px; */
}